body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 250px;
  background: #121212;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ff4d4d;
}

.converter {
  margin: 15px 0;
}

input {
  padding: 5px;
  margin-top: 5px;
  width: 80%;
  border-radius: 5px;
  border: none;
}

hr.divider {
  border: 0;
  height: 2px;
  background: #ff4d4d;
  margin: 25px 0;
  border-radius: 1px;
}

footer {
  margin-top: 15px;
  font-size: 12px;
  color: #bbb;
}
